{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Add your head elements -->
</head>
<body>
    <div class="container">
        <h2>Créer un nouveau mot de passe</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.new_password1.label_tag }} <br>
            {{ form.new_password1 }} <br>
            {{ form.new_password2.label_tag }} <br>
            {{ form.new_password2 }} <br>
            <button type="submit">Confirmer</button>
        </form>
    </div>
</body>
</html>
